[Unit]
Description=Oblivious DNS over HTTPS server
After=network.target

[Service]
Type=simple
Restart=always
User=odohd
Group=odohd
EnvironmentFile=/etc/default/odohd
ExecStart=/usr/local/bin/odohd $ODOHD_OPTS
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictNamespaces=yes

[Install]
WantedBy=multi-user.target
