[Unit]
Description=DNS over QUIC proxy
After=network.target

[Service]
Type=simple
Restart=always
User=doqd
Group=doqd
EnvironmentFile=/etc/default/doqd
ExecStart=/usr/local/bin/doqd $DOQD_OPTS
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictNamespaces=yes

[Install]
WantedBy=multi-user.target
